@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 240px;
    touch-action: manipulation;
    height: 100%;
}
body{
    overflow-x: hidden;
}
:root{
    --ff:'Poppins', sans-serif;

    --fs: 42px ;
    --fs-small: 24px ;
    --fs-big: 128px ;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-extrabold: 800;

    --color-text-main: #000;
    --color-details: #F494E7;
    --color-text:#fff;
}
/*---------------------NAVIGATION-----------------*/
.menu{
    padding: 25vh 30px;
    background:rgba(0,0,0,.5);
    height: 100vh;
    border-right: 25px solid var(--color-details);
    position: fixed;
    left: -325px;
    transition: 0.4s ease;
    z-index: 2;
}
.menu:hover{
    left: 0;
    transition: 0.5s ease;
    border-right: 5px solid var(--color-text);

}
.menu-title{
	font-family: var(--ff);
	font-size: var(--fs);
	color: var(--color-text);
	margin-bottom: 50px;
}
.menu-list__link{
    font-family: var(--ff);
	font-size: var(--fs-small);
	color: var(--color-text);
	border-left: 3px solid var(--color-details);
	transition: 0.2s ease;
	padding-left: 5px;
    text-decoration: none;
}
.menu-list__link:hover{
	border-left: 15px solid var(--color-details);
	transition: 0.2s ease;
	padding-left: 10px;
}
.menu-list{
	margin: 20px 0;
    list-style: none;
}
.menu-list li{
    margin-bottom: 20px;
}
.copyright{
	font-family: var(--ff);
	font-size: calc(var(--fs-small) / 1.5);
	color: var(--color-text);
	opacity: 0.7;
    letter-spacing: 3px;
}
@media(max-width: 400px){
    .menu{
        padding: 25vh 58px;
        left: -270px;
        border-right: 20px solid var(--color-details);
    }
    .menu-title{
        font-size: var(--fs-small);
    }
}
/*------------------CONTAINER--------------------*/
.container{
    width: min(100% - 3rem, 1200px);
    margin: 0 auto;
    box-sizing: border-box;
}
/*---------------SECTION---------------*/
.section{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
}
.section-title{
    font-family: var(--ff);
    font-size: 6vw;
    letter-spacing: -1px;
    font-weight: var(--fw-extrabold);
    color: var(--color-text-main);
    margin-top: 6rem ;
    margin-bottom: 4rem;
    text-align: center;
}
.first-letter-title{
    color: var(--color-details);
    font-weight: var(--fw-extrabold);
    transition: all .5s;
}
.section-title:hover .first-letter-title{
    color: var(--color-text-main);
}

/*-------------------HEADER------------------------*/
.header{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.header-title{
    z-index: 1;
    width: 100%;
    text-align: center;
    color: var(--color-text);
    position:absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-weight: var(--fw-extrabold);
}
.header-title__item{
    font-size: 10vw;
    text-shadow: 0.00em 0.03em 0.12em var(--color-details);
    font-family: var(--ff);
}
.header-title__item:not(:first-child){
    margin-left: -0.18em;
}
.header-bg1 {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #000 50%, rgb(239, 102,220) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    right:-50%;
    top:0;
    z-index:-1;
    position: absolute;
}

.header-bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}

.header-bg3 {
    animation-duration:5s;
}
@keyframes slide {
0% {
    transform:translateX(-25%);
}
100% {
    transform:translateX(25%);
}
}
/*----------------ABOUTME--------------*/
.aboutme{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 5rem; 
}
.aboutme-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 90vw;
    gap: 2rem;
    margin-bottom: 5rem;
    transition: all 1s;
}

.aboutme-info__photo{
    width: 100%;
    max-width: 20vw;
    height: auto;
    transition: all 2s;
}
.aboutme-info__content{
    width: 100%;
    max-width: 50vw;
    font-family: var(--ff);
    font-size: 1.5vw;
    font-weight: var(--fw-regular);
    color: var(--color-text-main);
    padding: 5vw;
    border:2px solid var(--color-details);
    border-radius:20px;
    transition: all 2s;
}
.aboutme-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn__item{
    padding: 1.8vh 8vw;
    background-color: var(--color-details);
    color: var(--color-text-main);
    font-family: var(--ff);
    font-size: var(--fs-small);
    font-weight: var(--fw-semibold);
    text-decoration: none;
    border-radius: 20px;
    margin: 0 1rem;
 
    transition: all .2s;
}
.btn__item:hover{
    color: var(--color-text);
}

@media(max-width: 782px){
    .btn__item{
        font-size: calc(var(--fs-small) / 2);
        padding:  1.5vh 6vw;
    }
}
@media(max-width: 479px){
    .btn__item{
        font-size: calc(var(--fs-small) / 3.3);
    }
    .aboutme-info{
        margin-bottom: 2rem;
        flex-direction: column;
        gap: 1rem;
    }
    .aboutme-info__content{
        width: 100%;
        max-width: 70vw;
        font-size: calc(var(--fs-small) / 3);
    }
}
/*SKILLS*/
.skills {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.skills-card {
    position: relative;
    cursor: pointer;
}
  
.skills-card-face {
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 150px;
    transition: 0.5s;
    border-radius: 20px;
}
  
.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    transform: translateY(50px);
}

.skills-card:hover .face1 {
    background: #242424;
    transform: translateY(0px);
}

.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.skills-card:hover .face2 {
    transform: translateY(-40px);
}

.skills-card__content{
    margin-top: 40px;
    padding: 0; 
    opacity: 0.8;
    transition: 0.5s;
    font-family: var(--ff);
    font-size: 12px;
    font-weight: var(--fw-regular);
}
.skills-card__icon {
    width: 100%;
    max-width: 100px;
}

@media (max-width: 677px) {
    .skills-card{
        margin-bottom: 1rem;
    }
    .skills-card-face {
        width: 100%;
        max-width: 93px;
        height: 100%;
        max-height: 80px;
        transition: 0.5s;
        border-radius: 20px;
    }
    .face1 {
        transform: translateY(0px);
    }
    .skills-card:hover .face1 {
        transform: translateY(-10px);
    }
    .face2{
        transform: translateY(-80px);
        padding: 5px;
    }
    .skills-card:hover .face2 {
        transform: translateY(-40px);
    }    
    .skills-card__content{
        font-size: 5px;
        margin-top: 20px;
    }

    .skills-card__icon {
        width: 100%;
        max-width: 35px;
    }
}
/*PROJECTS*/
.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}
.projects-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:1rem;
    width: 100%;
    margin-bottom: 5rem;
}

.projects-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    box-sizing: border-box;
    background-color:var(--color-text-main);
    width: calc((100% - 2rem) / 3);
    height: 300px;
    padding: .5rem;
    border-radius: 20px;
    transition: all 1s;
}
.projects-item:hover .projects-item__view{
    transform: scale(.94);
}
.projects-item__view{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    max-height: 210px;
    max-width: 373px;
    border: 1px solid var(--color-text);
    transition: all 1s;
}
.projects-item__title{
    margin-top: 1rem;
    font-family: var(--ff);
    font-weight: var(--fw-semibold);
    font-size: calc(var(--fs-small) / 1.5);
    color: var(--color-text);
}
.projects-item:nth-child(n + 4){
    display: none;
}
@media (max-width: 900px){
    .projects-item{
      width: calc((100% - 1rem) / 2);
      height: 280px;
    }
  }
@media (max-width: 600px){
.projects-item{
    width: 90%;
    height: 280px;
}
}

/*----------------CONTACTS---------------*/
.contacts-sosials{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;

}
.contacts-sosials__link img{
    width: 100%;
    max-width: 30px;
    height: 100%;
    max-height: 30px;
}
.contacts-sosials__link{
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 20px 40px;
    margin: 1rem;
    font-size: var(--fs-small);
    color: var(--color-text);
    border-radius: 20px;
    transition: all .5s;
}

.contacts-sosials__link:hover{
    box-shadow:
    1px 1px #c5c3c3,
    2px 2px #c5c3c3,
    3px 3px #c5c3c3,
    4px 4px #c5c3c3,
    5px 5px #c5c3c3,
    6px 6px #c5c3c3;
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px);
  
}

.contacts-sosials__link:nth-child(1),
.contacts-sosials__link:nth-child(3){
    background-color: var(--color-details);
}
.contacts-sosials__link:nth-child(2){
    background-color: var(--color-text-main);
}
@media(max-width: 600px ){
    .contacts-sosials__link{
        padding: 20px;
    }
    .contacts-sosials__link::before{
        border-width: 1rem;
        border-radius:  18px 0 20px 0;
    }
}
/*---------FOOTER-------------*/
.footer{
    background-color: var(--color-text-main);
    width: 100%;
    height: 70px;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__logo{
    color: var(--color-text);
    font-family: var(--ff);
    font-size: var(--fs-small);
    font-weight: var(--fw-extrabold);
    letter-spacing: 3px;
}
@media (max-width: 450px){
    .footer__logo{
        font-size: calc(var(--fs-small) / 1.5);
    }
    .copyright{
        font-size: calc(var(--fs-small) / 2.2);
    }
}
